/* 스타일 파일 (예: styles.css) */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label{
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  flex: 1; /* 레이블을 확장하여 오른쪽으로 이동 */
  text-align: right; /* 레이블 텍스트를 오른쪽 정렬 */
  margin-right: 20px; /* 원하는 간격 설정 */
}

.input-container label {
  flex: 1; /* 남은 공간 모두 사용 */
  white-space: nowrap; /* 글자 줄 바꿈 없이 한 줄로 유지 */
  margin-right: 10px; /* 레이블과 입력칸 사이 간격 설정 (선택 사항) */
}

/* 모든 입력칸을 통일 크기로 설정 */
.input-container input {
  width: 100px; /* 원하는 너비로 설정 */
  white-space: nowrap; /* 줄 바꿈 없이 글자를 한 줄로 유지 */
  margin-right: 20px; /* 오른쪽 여백 추가 (선택 사항) */
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  flex: 3;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right:  10px;
}

button:hover {
  background-color: #0056b3;
}

/* 박스 이미지 스타일 */
.box-image {
  width: 100px; /* 이미지 크기 조절 */
  margin: 0 auto; /* 가운데 정렬 */
}

.select-box {
  width: 300px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #000; /* 원하는 색상 및 스타일로 설정 */
}

/* Minutes 입력칸 스타일 수정 */
#minutes {
  margin-right: 20px; /* 오른쪽 여백 추가 (선택 사항) */
}
